:root {
  --bg-blue: #0f1b4c;
  --bg-blue-lighter: #f5fafe;
  --bg-blue-light: #e6f0ff;
  --color-primary: #5a6473;
  --gray-blacker: #3b3c45;
  --gray-black: #4f5361;
  --gray: #7d8589;
  --gray-light: #687690;
  --gray-lighter: #a3a6ab;
  --black: #000339;
  --blue: #0689ff;
}
