/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: var(--color-primary);
  overscroll-behavior: contain;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

a,
img,
button,
input,
textarea,
select {
  font-family: inherit;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

input {
  line-height: normal;
}

.brb {
  border-bottom: 1.5px solid var(--gray-black);
}

.heading-2 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 100%;
  color: var(--black);
}
@media (max-width: 575.98px) {
  .heading-2 {
    font-size: 2.5rem;
  }
}

.desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 187.5%;
  color: var(--color-primary);
}
@media (max-width: 575.98px) {
  .desc {
    font-size: 1.4rem;
  }
}

:root {
  --bg-blue: #0f1b4c;
  --bg-blue-lighter: #f5fafe;
  --bg-blue-light: #e6f0ff;
  --color-primary: #5a6473;
  --gray-blacker: #3b3c45;
  --gray-black: #4f5361;
  --gray: #7d8589;
  --gray-light: #687690;
  --gray-lighter: #a3a6ab;
  --black: #000339;
  --blue: #0689ff;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1140px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.header {
  padding: 38px 0 19px;
  background: var(--bg-blue-light);
}
@media (max-width: 575.98px) {
  .header {
    padding: 20px 0;
  }
}
.header--fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.header__inner {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .header__inner {
    justify-content: space-between;
  }
}

.more__icon {
  width: 20px;
}
@media (max-width: 575.98px) {
  .more__icon {
    width: 16px;
  }
}

.logo,
.navbar__logo,
.client__logo,
.footer__logo {
  display: block;
  width: 107px;
  height: 24px;
}
@media (max-width: 575.98px) {
  .logo,
  .navbar__logo,
  .client__logo,
  .footer__logo {
    width: 80px;
    height: 20px;
  }
}
.logo__img,
.navbar__logo__img,
.client__logo__img,
.footer__logo__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar {
  margin-left: 64px;
}
@media (max-width: 991.98px) {
  .navbar {
    position: fixed;
    inset: 0 50% 0 0;
    height: auto;
    overflow-y: auto;
    overscroll-behavior: contain;
    margin-left: 0;
    padding: 30px 25px 0;
    background: #fff;
    translate: -100%;
    transition: translate 0.5s linear;
    z-index: 99;
  }
}
@media (max-width: 575.98px) {
  .navbar {
    inset: 0 20% 0 0;
  }
}
.navbar__list {
  display: flex;
  align-items: center;
  gap: 0 28px;
}
@media (max-width: 991.98px) {
  .navbar__list {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
  }
}
.navbar__item {
  width: 100%;
}
.navbar__link {
  position: relative;
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 5px 0;
  color: var(--gray-black);
}
.navbar__link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  flex-shrink: 0;
  background: var(--gray-black);
  transition: width 0.2s linear;
}
@media (max-width: 991.98px) {
  .navbar__link::after {
    display: none;
  }
}
.navbar__link:hover::after {
  width: 100%;
}
@media (max-width: 991.98px) {
  .navbar__link:hover::after {
    width: 0;
  }
}
@media (max-width: 991.98px) {
  .navbar__link {
    padding: 14px 0;
  }
}
@media (max-width: 767.98px) {
  .navbar__link {
    font-size: 1.6rem;
  }
}
.navbar__overlay {
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility;
  transition-duration: 0.5s;
}
@media (max-width: 991.98px) {
  .navbar__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 98;
  }
}
.navbar__checkbox:checked ~ .navbar__overlay {
  opacity: 1;
  visibility: visible;
}
.navbar__checkbox:checked ~ .navbar {
  translate: 0;
}

.act {
  margin-left: auto;
}
@media (max-width: 991.98px) {
  .act {
    margin-left: 0;
  }
}
.act__btn {
  margin-left: -4px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 98px;
  height: 50px;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0 37px;
  color: #fff;
  background: var(--bg-blue);
  transition: opacity 0.2s linear;
}
.btn:hover {
  opacity: 0.9;
}
.btn--primary {
  min-width: 170px;
  border-radius: 12px;
}
.btn--secondary, .btn--text {
  height: 40px;
  font-size: 1.4rem;
  padding: 0 22px;
}
.btn--secondary {
  border-radius: 8px;
}
.btn--text {
  background: transparent;
  color: var(--bg-blue);
}
.btn--text:hover {
  text-decoration: underline;
}

.hero {
  margin-top: 97px;
  padding-top: 19px;
  background: var(--bg-blue-light);
}
@media (max-width: 1399.98px) {
  .hero {
    padding-top: 60px;
  }
}
@media (max-width: 575.98px) {
  .hero {
    margin-top: 80px;
    padding-top: 25px;
  }
}
.hero__inner {
  display: flex;
  align-items: center;
  gap: 0 67px;
}
@media (max-width: 1399.98px) {
  .hero__inner {
    flex-direction: column;
  }
}
.hero__content {
  width: 52%;
  flex-shrink: 0;
}
@media (max-width: 1399.98px) {
  .hero__content {
    width: 100%;
  }
}
@media (max-width: 1399.98px) {
  .hero__caption, .hero__heading, .hero__desc {
    text-align: center;
  }
}
.hero__caption {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 8px;
  letter-spacing: 0.18px;
  color: var(--gray-light);
}
@media (max-width: 767.98px) {
  .hero__caption {
    font-size: 1.4rem;
  }
}
.hero__heading {
  font-size: 6.4rem;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 118.75%;
  color: #000336;
}
@media (max-width: 991.98px) {
  .hero__heading {
    margin-bottom: 20px;
    font-size: 5rem;
  }
}
@media (max-width: 767.98px) {
  .hero__heading {
    font-size: 3rem;
  }
}
.hero__desc {
  margin-bottom: 40px;
  padding-right: 50px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 177.778%;
}
@media (max-width: 1399.98px) {
  .hero__desc {
    padding: 0 100px;
  }
}
@media (max-width: 991.98px) {
  .hero__desc {
    margin-bottom: 20px;
    font-size: 1.6rem;
  }
}
@media (max-width: 767.98px) {
  .hero__desc {
    padding: 0 20px;
    font-size: 1.4rem;
  }
}
@media (max-width: 575.98px) {
  .hero__desc {
    padding: 0;
  }
}
@media (max-width: 1399.98px) {
  .hero__act {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .hero__btn {
    min-width: 100px;
    padding: 0 10px;
  }
}
.hero__media {
  width: 53%;
  flex-shrink: 0;
}
@media (max-width: 1399.98px) {
  .hero__media {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 67px;
  }
}
@media (max-width: 767.98px) {
  .hero__media {
    margin-top: 35px;
  }
}
.hero__images {
  width: 584px;
  max-height: 619px;
}
.hero__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.client {
  margin-top: 80px;
}
@media (max-width: 767.98px) {
  .client {
    margin-top: 60px;
  }
}
@media (max-width: 575.98px) {
  .client {
    margin-top: 45px;
  }
}
.client__inner {
  padding: 43px 0;
}
@media (max-width: 575.98px) {
  .client__inner {
    padding: 35px 0;
  }
}
.client__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.client__row--top {
  margin-bottom: 23px;
}
@media (max-width: 991.98px) {
  .client__row--top {
    margin-bottom: 40px;
  }
}
@media (max-width: 991.98px) {
  .client__row--bottom {
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
  }
}
.client__starts {
  width: 116px;
  height: 19px;
}
@media (max-width: 575.98px) {
  .client__starts {
    width: 80px;
    height: 19px;
  }
}
.client__starts-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.client__desc, .client__review {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 125%;
  color: var(--gray);
}
.client__bottom {
  display: flex;
  align-items: center;
  height: 100px;
  margin-top: 77px;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .client__bottom {
    margin-top: 30px;
  }
}
.client__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  animation: slide-brand-client 100s linear infinite;
}
.client__item {
  display: flex;
  align-items: center;
  padding: 0 42px;
  height: 90px;
  transition: all 0.2s linear;
}
@media (max-width: 767.98px) {
  .client__item {
    height: 60px;
  }
}
.client__item:hover {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}
.client__img {
  max-width: 155px;
  height: 35px;
  object-fit: contain;
}
@media (max-width: 575.98px) {
  .client__img {
    max-width: 90px;
    height: 35px;
  }
}

@keyframes slide-brand-client {
  0% {
    translate: 0;
  }
  100% {
    translate: -100%;
  }
}
.work {
  margin-top: 40px;
}
.work__inner {
  padding: 79px 0;
}
@media (max-width: 767.98px) {
  .work__inner {
    padding: 40px 0;
  }
}
.work__heading {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}
.work__heading::before {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  content: "";
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: var(--black);
}
.work__desc {
  text-align: center;
  width: 459px;
  max-width: 100%;
  margin: 0 auto;
}
.work__bottom {
  margin: 70px 0 48px;
}
@media (max-width: 767.98px) {
  .work__bottom {
    margin: 45px 0;
  }
}
.work__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px 0;
}
@media (max-width: 767.98px) {
  .work__list {
    flex-direction: column;
  }
}
.work__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 70px;
}
@media (max-width: 991.98px) {
  .work__item {
    flex: 1;
    margin: 0;
  }
}
.work__item:hover .work__icon {
  scale: 1.1;
}
.work__wrap-icon {
  width: 48px;
  height: 48px;
  margin-bottom: 26px;
}
.work__icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.2s ease-in-out;
}
.work__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 110%;
  color: var(--gray-blacker);
}
@media (max-width: 575.98px) {
  .work__title {
    font-size: 1.8rem;
  }
}
.work__link {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.work__link-text {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--blue);
}
.work__link-text:hover {
  text-decoration: underline;
}
.work__act {
  display: flex;
  align-items: center;
  justify-content: center;
}
.work__btn {
  min-width: 170px;
  padding: 0 25px;
}

.featured {
  background: var(--bg-blue-lighter);
  margin-top: 41px;
}
.featured__inner {
  padding: 110px 0;
}
@media (max-width: 575.98px) {
  .featured__inner {
    padding: 60px 0;
  }
}
.featured__heading {
  margin-bottom: 15px;
}
@media (max-width: 767.98px) {
  .featured__heading {
    text-align: center;
  }
}
.featured__row-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .featured__row-top {
    flex-direction: column;
    gap: 10px 0;
  }
}
.featured__link {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.featured__link-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--blue);
}
@media (max-width: 991.98px) {
  .featured__link-text {
    font-size: 1.6rem;
  }
}
.featured__link-text:hover {
  text-decoration: underline;
}
.featured__bottom {
  margin-top: 70px;
}
.featured__item {
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
}
.featured__item:hover .featured__img {
  scale: 1.1;
}
.featured__images {
  position: relative;
  padding-top: 65%;
  display: block;
  width: 100%;
  height: 227px;
  overflow: hidden;
}
.featured__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.5s ease;
}
.featured__info {
  padding: 17px 20px 22px;
}
@media (max-width: 991.98px) {
  .featured__info {
    padding: 17px 15px 22px;
  }
}
.featured__title {
  display: block;
  margin-bottom: 11px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 100%;
  color: var(--black);
}
@media (max-width: 575.98px) {
  .featured__title {
    font-size: 1.8rem;
  }
}
.featured__desc {
  margin-bottom: 21px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--gray-lighter);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.featured__row-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featured__line {
  display: flex;
  align-items: center;
  gap: 0 8px;
}

.stats {
  margin-top: 75px;
}
@media (max-width: 767.98px) {
  .stats {
    margin-top: 50px;
  }
}
.stats__inner {
  padding: 50px 35px;
}
@media (max-width: 767.98px) {
  .stats__inner {
    padding: 50px 0;
  }
}
.stats__top {
  display: flex;
  align-items: center;
  gap: 0 165px;
}
@media (max-width: 1199.98px) {
  .stats__top {
    gap: 0 130px;
  }
}
@media (max-width: 991.98px) {
  .stats__top {
    flex-direction: column-reverse;
  }
}
.stats__media {
  position: relative;
  width: 47%;
  flex-shrink: 0;
}
@media (max-width: 1199.98px) {
  .stats__media {
    width: 57%;
  }
}
@media (max-width: 991.98px) {
  .stats__media {
    width: 100%;
  }
}
.stats__img {
  display: block;
  width: 400px;
  height: 460px;
  border-radius: 12px;
  margin-left: auto;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .stats__img {
    width: 100%;
  }
}
.stats__content {
  width: 30%;
  flex-shrink: 0;
}
@media (max-width: 1199.98px) {
  .stats__content {
    width: 32%;
  }
}
@media (max-width: 991.98px) {
  .stats__content {
    width: 100%;
    margin-bottom: 60px;
  }
}
@media (max-width: 767.98px) {
  .stats__content {
    margin-bottom: 180px;
  }
}
.stats__heading {
  position: relative;
  margin-bottom: 20px;
  line-height: 128.571%;
}
.stats__heading::before {
  position: absolute;
  top: -10px;
  left: 0;
  content: "";
  display: block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}
@media (max-width: 991.98px) {
  .stats__heading::before {
    left: 7px;
  }
}
@media (max-width: 767.98px) {
  .stats__heading::before {
    left: 120px;
  }
}
@media (max-width: 575.98px) {
  .stats__heading::before {
    left: 80px;
  }
}
@media (max-width: 991.98px) {
  .stats__heading {
    text-align: center;
  }
}
@media (max-width: 991.98px) {
  .stats__desc {
    text-align: center;
  }
}
.stats__bottom {
  margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 220px;
}
@media (max-width: 1199.98px) {
  .stats__bottom {
    gap: 0 150px;
  }
}
@media (max-width: 991.98px) {
  .stats__bottom {
    gap: 0 80px;
  }
}
@media (max-width: 767.98px) {
  .stats__bottom {
    gap: 70px 0;
    margin-top: 50px;
    flex-direction: column;
  }
}
.stats__column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.stats__column:hover .stats__number {
  scale: 1.1;
}
.stats__number {
  font-size: 6.4rem;
  font-weight: 600;
  margin-bottom: 22px;
  line-height: 100%;
  color: #000;
  transition: scale 0.5s ease;
}
@media (max-width: 991.98px) {
  .stats__number {
    font-size: 5.4rem;
  }
}
@media (max-width: 767.98px) {
  .stats__number {
    margin-bottom: 10px;
  }
}
.stats__caption {
  font-size: 1.8rem;
  font-weight: 500;
  color: #7b8087;
}
@media (max-width: 991.98px) {
  .stats__caption {
    font-size: 1.6rem;
  }
}

.card {
  position: absolute;
  top: 0;
  left: -30px;
  width: 239px;
  padding: 45px 21px 40px;
  border-radius: 0px 0px 12px 12px;
  background: #fff;
  box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
}
@media (max-width: 991.98px) {
  .card {
    left: -20px;
  }
}
@media (max-width: 767.98px) {
  .card {
    width: 100%;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
@media (max-width: 767.98px) {
  .card {
    width: 100%;
    top: -55%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
.card__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.card__strong {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.26px;
  color: var(--black);
}
.card__strong-span {
  font-weight: 500;
}
.card__vector {
  width: 28px;
  height: 20px;
  object-fit: cover;
}
.card__desc {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 150%;
  color: #a7a7a7;
}
@media (max-width: 767.98px) {
  .card__desc {
    text-align: center;
  }
}
.card__avatar-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px 14px;
}
@media (max-width: 767.98px) {
  .card__avatar-group {
    justify-content: center;
  }
}
.card__group {
  display: flex;
  align-items: center;
}
.card__group:first-child .card__avatar:first-child {
  margin-left: 0;
}
.card__group:nth-child(4) .card__avatar:first-child {
  margin-left: 0;
}
.card__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 450;
  font-size: 0.7rem;
  width: 16px;
  height: 16px;
  margin-left: -3px;
  object-fit: cover;
  border-radius: 50%;
  letter-spacing: -0.02em;
  background: var(--bg-avatar, #fff);
  color: #fff;
}

.separate {
  width: 100%;
  height: 1.2px;
  background: #e9e9e9;
  margin: 26px 0;
}

.newsletter {
  margin-top: 90px;
}
.newsletter__inner {
  display: flex;
  align-items: center;
  gap: 0 89px;
  min-height: 370px;
  padding: 0 80px;
  border-radius: 20px;
  background: #063183;
}
@media (max-width: 1199.98px) {
  .newsletter__inner {
    padding: 0 40px;
  }
}
.newsletter__content {
  width: 54%;
  flex-shrink: 0;
}
@media (max-width: 1199.98px) {
  .newsletter__content {
    width: 59%;
  }
}
@media (max-width: 991.98px) {
  .newsletter__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.newsletter__heading {
  margin-bottom: 15px;
  line-height: 128.571%;
  color: #fff;
}
.newsletter__desc {
  color: #fff;
  margin-bottom: 20px;
}
.newsletter__btn {
  min-width: 151px;
  background: #fff;
  color: #002366;
}
.newsletter__media {
  width: 218px;
  height: 438px;
  margin-top: -39px;
}
.newsletter__media-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  margin-top: 55px;
  padding: 50px 0 75px;
}
.footer__heading {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #1c1c1d;
}
.footer__list {
  margin-top: 40px;
}
@media (max-width: 991.98px) {
  .footer__list {
    margin-top: 25px;
  }
}
@media (max-width: 575.98px) {
  .footer__list {
    margin-top: 10px;
  }
}
.footer__item {
  width: 100%;
}
.footer__link {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 9px 0;
  color: #7a7a7e;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__desc {
  width: 257px;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
  line-height: 175%;
  color: #7a7a7e;
}
@media (max-width: 1199.98px) {
  .footer__desc {
    margin-bottom: 30px;
  }
}
@media (max-width: 991.98px) {
  .footer__desc {
    width: 100%;
    margin-bottom: 15px;
  }
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.footer__social-facebook {
  width: 7px;
  height: 12px;
  object-fit: cover;
  filter: brightness(0) saturate(100%) invert(40%) sepia(8%) saturate(6%) hue-rotate(108deg) brightness(92%) contrast(87%);
}
.footer__social-twitter {
  width: 11px;
  height: 9px;
  object-fit: cover;
  filter: brightness(0) saturate(100%) invert(40%) sepia(8%) saturate(6%) hue-rotate(108deg) brightness(92%) contrast(87%);
}
.footer__social-linked {
  width: 11px;
  height: 10px;
  object-fit: cover;
  filter: brightness(0) saturate(100%) invert(40%) sepia(8%) saturate(6%) hue-rotate(108deg) brightness(92%) contrast(87%);
}
.footer__social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 29px;
  background: #f9f9f9;
  transition: translate 0.5s linear;
}
.footer__social-item:hover {
  translate: 0 -5px;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 72px;
}
@media (max-width: 767.98px) {
  .footer__bottom {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
  }
}
.footer__coppyright {
  font-size: 1.4rem;
  font-weight: 400;
  color: #c2c2c2;
}

.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ccd9ed;
  padding: 15px;
  border-radius: 6px;
}
.back-to-top:hover .back-to-top__icon {
  translate: 0 -4px;
}
.back-to-top__icon {
  transition: all 0.2s ease-out;
  filter: brightness(0) saturate(100%) invert(98%) sepia(63%) saturate(0%) hue-rotate(32deg) brightness(112%) contrast(100%);
}

/*# sourceMappingURL=main.css.map */
